* {
  font-family: "Mulish", sans-serif;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  gap: 10px;
}
img {
  height: 450px;
}
#title {
  font-size: 4rem;
}
.vertical-lign {
  margin-top: 2%;
  border-right: 1px solid black;
  height: 90%;
}
.right-container {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
}
.center {
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
  gap: 20px;
}
mat-form-field {
  width: 100%;
}
.actions {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.password-recovery {
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
}
