<div class="container">
  <div class="left-container">
    <span id="title"><span style="color: #00B0FF;">o</span>pining</span>
    <h4>apenas opine</h4>
    <img src="assets/signin.svg" alt="signin image">
  </div>
  <div class="vertical-lign"></div>
  <div class="right-container">
    <op-authorization-form
    [title]="title"
    [signinTitle]="signinTitle"
    [signupTitle]="signupTitle"
    [signupButton]="true"
    [forgotPassword]="true"
    (signup)="signup()"
    ></op-authorization-form>
  </div>
</div>
