.box {
  min-height: 17vh;
  height: 100%;
  width: 50vw;
  min-width: 40vmin;
  display: grid;
  grid-template-columns: 1fr 9fr;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
}
.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  border: 0.1px solid #00b0ff;
  color: #00b0ff;
}
.left {
  display: flex;
  justify-content: center;
  height: 100%;
}
.right {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
#name {
  font-weight: 600;
}
#email,
#time {
  color: darkgrey;
}
mat-form-field {
  width: 100%;
}
::ng-deep .mat-form-field-outline-start {
  border-radius: 28px 0 0 28px !important;
  min-width: 28px !important;
}

::ng-deep .mat-form-field-outline-end {
  border-radius: 0 28px 28px 0 !important;
}
mat-icon {
  color: #00b0ff;
}
.icons {
  display: flex;
  justify-content: center;
}
