<div class="box mat-elevation-z3">
  <div class="left">
    <div class="user-info">
      {{ viewPost.user.name | slice: 0:1 }}
    </div>
  </div>
  <div class="right">
    <div class="top">
      <span id="name"> {{ viewPost.user.name }}</span>
      <span id="email"> {{ viewPost.user.email }}</span>
      <span id="time"> {{ viewPost.user.createdAt | date }}</span>
    </div>
    <div class="message">
      <span> {{ viewPost.message }}</span>
    </div>
    <div class="icons">
      <button mat-icon-button>
        <mat-icon >chat_bubble_outline</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon >favorite_border</mat-icon>
      </button>
    </div>
  </div>
</div>
