<div class="box mat-elevation-z3">
  <div class="left">
    <div class="user-info">
      {{ name | slice: 0:1 }}
    </div>
  </div>
  <div class="right">
    <div class="top">
      <span id="name"> {{ name }}</span>
      <span id="email"> {{ email }}</span>
      <span id="time"> {{ time }}</span>
    </div>
    <div class="message">
      <span> {{ message }}</span>
    </div>
    <div class="icons">
      <button mat-icon-button>
        <mat-icon >chat_bubble_outline</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon >favorite_border</mat-icon>
      </button>
    </div>
  </div>
</div>
