/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Mulish', sans-serif; }

.font {
  font-family: 'Mulish', sans-serif;
}
.btn-primary {
  width: 150px;
  color: white;
  background-color: #00B0FF;
  border-radius: 50px !important;
}
.btn-secondary {
  width: 150px;
  color: white;
  background-color: #2F2E41;
  border-radius: 50px !important;
}
