.header {
  width: 100%;
  height: 4.5rem;
  background-color: #00b0ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo {
  padding-left: 5px;
}
#title {
  font-size: 2.5rem;
}
.menu mat-icon {
  padding: 5px;
  color: white;
  transform: scale(1.5);
}
.user {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-right: 5px;
}
.user span {
  color: white;
  font-size: 1rem;
  margin-right: 20px;
}
.user mat-icon {
  color: white;
}
.user-info {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #00b0ff;
  font-size: 1.5rem;
}
.btn-general {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
