.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100%;
  gap: 10px;
  padding: 0px 10px 0px 10px;
}
.left {
  margin-left: auto;
}
.center {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.right {
  display: flex;
  justify-content: end;
}
